/*====================================================
CSS Tooltips by Adam Whitcroft
https://github.com/AdamWhitcroft/CSS.Tooltips
====================================================*/
/*==================================================*/
/*  $Tooltips                                       */
/*==================================================*/
/*[data-tip] {
	position:relative;
	/*cursor:help;*//*
}
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered *//*
	display:none;
	border:5px solid #1a1a1a;
	/* 4 border technique to create the arrow *//*
	border-top-color:transparent;
	border-right-color:transparent;
	border-bottom-color:#1a1a1a;
	border-left-color:transparent;
	position:absolute;
	bottom:0px;
	left:16px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	bottom:-19px;
	left:16px;
	padding:5px 8px;
	background:#1a1a1a;
	color:#fff;
	z-index:9;
	font-size: 0.75em;
	height:18px;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:normal;
	word-wrap: break-word;
	word-break: break-all;
	max-width:300px;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}
/*==================================================*/
/*  $Coloured Tooltips                              */
/*==================================================*/
/* Help tooltip *//*
.help {
	color:#00b7d8;
}
.help[data-tip]:before {
	border-top-color:#00b7d8;
	border-right-color:transparent;
	border-bottom-color:transparent;
	border-left-color:transparent;
}
.help[data-tip]:after {
	background:#00b7d8;
	color:#fff;
}
/* Success tooltip *//*
.success {
	color:#51bd6a;
}
.success[data-tip]:before {
	border-top-color:#51bd6a;
	border-right-color:transparent;
	border-bottom-color:transparent;
	border-left-color:transparent;
}
.success[data-tip]:after {
	background:#51bd6a;
	color:#fff;
}
/* Alert tooltip *//*
.alert {
	color:#f9ca64;
}
.alert[data-tip]:before {
	border-top-color:#f9ca64;
	border-right-color:transparent;
	border-bottom-color:transparent;
	border-left-color:transparent;
}
.alert[data-tip]:after {
	background:#f9ca64;
	color:#574d36;
}
/* Error tooltip *//*
.error {
	color:#e1473e;
}
.error[data-tip]:before {
	border-top-color:#e1473e;
	border-right-color:transparent;
	border-bottom-color:transparent;
	border-left-color:transparent;
}
.error[data-tip]:after {
	background:#e1473e;
	color:#fff;
}
/*==================================================*/
/*  $Gravity                                        */
/*==================================================*//*
.tip-below[data-tip]:after {
	top:23px;
	left:0px;
}
.tip-below[data-tip]:before {
	border-top-color:transparent;
	border-right-color:transparent;
	border-bottom-color:#1a1a1a;
	border-left-color:transparent;
	top:13px;
	left:10px;	
}
.tip-below.help[data-tip]:before {
	border-top-color:transparent;
	border-right-color:transparent;
	border-bottom-color:#00b7d8;
	border-left-color:transparent;
}
.tip-below.success[data-tip]:before {
	border-top-color:transparent;
	border-right-color:transparent;
	border-bottom-color:#51bd6a;
	border-left-color:transparent;
}
.tip-below.alert[data-tip]:before {
	border-top-color:transparent;
	border-right-color:transparent;
	border-bottom-color:#f9ca64;
	border-left-color:transparent;
}
.tip-below.error[data-tip]:before {
	border-top-color:transparent;
	border-right-color:transparent;
	border-bottom-color:#e1473e;
	border-left-color:transparent;
}
*/



/* new version */
/**
 * CSS3 Tips
 *
 * A stylesheet for creating tooltips without using anything other than CSS3.
 *
 * created by c.bavota
 * released under GPL v2
 *
 * November 6th, 2013
 */
[data-tip] {
	position: relative;
	text-decoration: none;
}
	[data-tip]:after,
	[data-tip]:before {
	    position: absolute;
	    z-index: 100;
		opacity: 0;
	}
		[data-tip]:after {
			content: attr(data-tip);
			height: 25px;
			line-height: 25px;
			padding: 0 10px;
			font-size: 12px;
			text-align: center;
			color: #fff;
			background: #222;
			border-radius: 5px;
			text-shadow: 0 0 5px #000;
			-moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
			-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
			box-shadow: 0 0 5px rgba(0,0,0,0.3);
			white-space: nowrap;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
		[data-tip]:before {
			content: "";
			width: 0;
			height: 0;
			border-width: 6px;
			border-style: solid;
		}
			[data-tip]:hover:after,
			[data-tip]:hover:before {
				opacity: 1;
			}
/* Top tips */
[data-tip].top-tip:after,
[data-tip].top-tip:before {
    -webkit-transition: bottom 0.25s ease-in-out, opacity 0.25s ease-in-out;
    -moz-transition: bottom 0.25s ease-in-out, opacity 0.25s ease-in-out;
    transition: bottom 0.25s ease-in-out, opacity 0.25s ease-in-out;
	bottom: 90%;
	left: -9999px;
	margin-bottom: 12px;
}
	[data-tip].top-tip:before {
		border-color: #222 transparent transparent transparent;
		margin-bottom: 0;
	}
	[data-tip].top-tip:hover:after,
	[data-tip].top-tip:hover:before {
		bottom: 100%;
		left: 0;
	}
	[data-tip].top-tip:hover:before {
		left: 15px;
	}
/* Bottom tip */
[data-tip]:after,
[data-tip]:before {
    -webkit-transition: top 0.25s ease-in-out, opacity 0.25s ease-in-out;
    -moz-transition: top 0.25s ease-in-out, opacity 0.25s ease-in-out;
    transition: top 0.25s ease-in-out, opacity 0.25s ease-in-out;
	top: 90%;
	left: -9999px;
	margin-top: 12px;
}
	[data-tip]:before {
		border-color: transparent transparent #222 transparent;
		margin-top: 0;
	}
	[data-tip]:hover:after,
	[data-tip]:hover:before {
		top: 100%;
		left: 0;
	}
	[data-tip]:hover:before {
		left: 15px;
	}
/* Right tip */
[data-tip].right-tip:after,
[data-tip].right-tip:before {
    -webkit-transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
    -moz-transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
    transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
	top: -9999px;
	left: 96%;
	margin-left: 12px;
}
	[data-tip].right-tip:before {
		border-color: transparent #222 transparent transparent;
		margin-left: 0;
	}
	[data-tip].right-tip:hover:after,
	[data-tip].right-tip:hover:before {
		left: 100%;
		top: 0;
	}
	[data-tip].right-tip:hover:before {
		top: 7px;
	}
/* Left tip */
[data-tip].left-tip:after,
[data-tip].left-tip:before {
    -webkit-transition: right 0.25s ease-in-out, opacity 0.25s ease-in-out;
    -moz-transition: right 0.25s ease-in-out, opacity 0.25s ease-in-out;
    transition: right 0.25s ease-in-out, opacity 0.25s ease-in-out;
	top: -9999px;
	right: 96%;
	margin-right: 12px;
}
	[data-tip].left-tip:before {
		border-color: transparent transparent transparent #222;
		margin-right: 0;
	}
	[data-tip].left-tip:hover:after,
	[data-tip].left-tip:hover:before {
		right: 100%;
		top: 0;
	}
	[data-tip].left-tip:hover:before {
		top: 7px;
	}